@import url(common.css);

#page-wrapper {
    position: inherit!important;
    margin: 0 auto;
}
#top-search {
    border-radius: 20px;
    border: 1px solid #eee;
    margin-top: 15px;
    height: 30px;
}
.sort-choice {
    background: #e7eaec;
}
.sort-choice.fc-state-active {
    background: #4B9DBD;
}
.fc-state-active:after {
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
    content: " ";
    font-size: 0;
}

.sort-choice.fc-state-active {
    border: none;
}

.header-ico {
    font-size: 18px;
}

.user-login {
    margin-top: 15px;
}

.user-login a {
    padding: 5px 15px!important;
    min-height: 20px!important;
}

.or {
    position: absolute;
    z-index: 2;
    display: inline-block;
    margin: 5px 0 0 -13px;
    width: 22px;
    height: 22x;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #FFF;
    color: #999;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial,'Times New Roman','Microsoft YaHei',SimHei;
    line-height: 22px;
}

.breadcrumb {
    background-color: transparent!important;
}

.profile-info .col-md-4 {
    text-align: center;
}

.profile-small-avatar {
    width: 26px;
    height: 26px;
}

.profile-big-avatar {
    width: 100px;
    height: 100px;
}

.page-heading {
    padding: 10px;
}

.avatar-banner {
    position: relative;
}

.profile-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: background-color;
}

.profile-shade:hover {
    background: rgba(255, 255, 255, 0.65);
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: background-color;
}

.profile-shade img {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    border: 3px solid #fff;
}

.profile-type {
    border-bottom: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-bottom-color: #fff;
}

.article-poster {
    width: 80px;
    height: 60px;
}

.ellipsis {
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ar-mg {
    margin: 6px 0;
    color: #999;
    line-height: 2.5em!important;
}

.comment-num, .praise-num {
    display: inline;
    padding: 0px 1px;
    height: 14px;
    border: 1px solid #D4E9D3;
    border-radius: 3px;
    color: #1BAD91;
    font-size: 12px;
}

.comment-num .ico, .praise-num .ico {
    margin-right: 3px;
    padding: 0 2px 0 5px;
    border-radius: 1px 0px;
    background: #E7F2ED;
}

.pagination {
    width: 100%;
    height: 40px;
    color: #ccc;
    text-align: center;
    line-height: 40px;
}

.sm-text {
    font-size: 12px;
}

.fc-corner-left {
 /* non-theme */
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.fc {
    padding-bottom: 0px;
}

.fc-corner-right {
 /* non-theme */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fc>span {
    float: left;
    margin-left: -1px;
    height: 2.8em;
    line-height: 2.8em;
}

.fc>span:first {
    margin-left: 0;
}

.topic-avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.reply-avatar {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.reply-info {
    font-size: 12px;
}

.reply-input-blank {
    height: 20px;
    width: 100%;
    display: inline-block;
}

a.load-at-reply {
    color: #676a6c;
}

a.load-at-reply:hover {
    color: #999;
}

.load-at-reply .well:hover {
    background-color: #fcfcfc;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: background-color;
}

.topic-about {
    margin-left: 70px;
}

.topic-about span {
    margin-right: 8px;
}

.topic-detail-avatar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.topic-detail {
    margin-top: 10px;
}

.topic-detail .content {
    color: #666;
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

.topic-detail .content table td ,.topic-detail .content table th {
    border: 1px solid #eee;
    padding: 8px;
}

.topic-detail .content img {
    max-width: 100%;
}

.topic-detail .image-list {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.at-reply-detail .content {
    color: #666;
    font-size: 12px;
}

.more-input {
    display: block;
    width: calc(100% - 30px);
    height: 18px;
    background: #F3F3F3;
    margin: 0 15px;
    text-align: center;
    color: #999;
}

.reward-input {
    display: none;
    margin-top: 10px;
    padding: 20px 15px;
    background: #FAFAFA;
    width: 260px
}

.topic-reward {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px 20px;
    width: calc(100% - 30px);
    border: 1px dashed #f4f4f4;
    border-radius: 5px;
    background: #FCFCFC;
}
.topic-reward p {
    color: #999;
}
.topic-reward strong {
    color: #DC8375;
}
.topic-praise {
    float: left;
    display: inline-block;
    margin: 10px 15px;
    padding-top: 20px;
    width: calc(100% - 30px);
    border-top: 1px solid #f4f4f4;
}

.topic-praise img {
    width: 30px;
    height: 30px;
}

.topic-praise .p-tips {
    display: block;
    padding: 0 0 15px 0;
    width: 100%;
    color: #aaa;
    font-size: 12px;
}

.topic-praise .praise-user {
    float: left;
    display: block;
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
}

.topic-option {
    float: left;
    margin: 0 15px 10px 15px;
    padding-top: 10px;
    width: calc(100% - 30px);
}

.topic-status {
    width: 40px;
    height: auto;
    border: 1px solid #e7eaec;
    border-radius: 3px;
    text-align: center;
}

.topic-status>.c-ico {
    width: 100%;
    height: 20px;
    color: #697075;
    font-size: 14px;
}

.topic-status>.c-num {
    color: #999;
}

.topic-title {
    color: #697075
}

.topic-info {
    color: #8899A6;
    margin: 1px 0 0 0;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}

.topic-op {
    margin: 0 0 0 5px;
}

.topic-info .topic-username {
    margin-right: 5px;
}

.statistics .col-md-4 {
    text-align: center;
}

.statistics-title {
    color: #ccc;
}

.reply-list {
    margin: 10px 15px;
    padding: 20px 0;
    border-top: 1px solid #f4f4f4;
}

.reply-tips {
    padding: 30px;
    text-align: center;
}

.wangEditor-container, .editor {
    margin: 0 15px;
    width: calc(100% - 30px);
    /* height:200px; */
    min-height: 200px;
    border: 1px solid #eee;
}

.saving-tip {
    margin-top: 10px;
    width: 150px;
    color: #fff;
    text-align: center;
    opacity: 0;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.1s;
    -webkit-transition-property: color, opacity;
}

.saving-tip.active {
    color: #B18E6B;
    opacity: 1;
}

.submit-btn {
    width: calc(100% - 30px);
}

.jquery-notebook li .h1, .jquery-notebook li .h2 {
    margin: 0;
}

.dropdown-menu {
    /* left: -50%; */
    min-width: 80px;
}
.oauth-login {
    font-size: 20px;
    margin: 5px;
    padding: 9px 10px;
    width: 20px;
    color: #fff;
    border-radius: 50%;
}
.oauth-login:hover {
    color: #fff;
}
.oauth-login.qq {
    background: #4B9DBD;
}
.oauth-login.weibo {
    background: #df3e3e;
}
.footer {
    position: relative;
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    body {
        background: #F5F8FA;
        /*background: -moz-linear-gradient(top, rgba(189, 168, 15, 0.28) 30%,rgba(26, 179, 148, 0.26) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(189, 168, 15, 0.28)), color-stop(100%,rgba(26, 179, 148, 0.26)));
        background: -webkit-linear-gradient(top, rgba(189, 168, 15, 0.28) 30%,rgba(26, 179, 148, 0.26) 100%);
        background: -o-linear-gradient(top, rgba(189, 168, 15, 0.28) 30%,rgba(26, 179, 148, 0.26) 100%);
        background: -ms-linear-gradient(top, rgba(189, 168, 15, 0.28) 30%,rgba(26, 179, 148, 0.26) 100%);
        background: linear-gradient(to bottom, rgba(189, 168, 15, 0.28) 30%,rgba(26, 179, 148, 0.26) 100%) fixed top;*/
    }

    #page-wrapper {
        width: 80%;
        background: rgba(255, 255, 255, 0.5);
    }

    .navbar-static-top {
        background: rgba(255, 255, 255, 0.5);
    }

    .footer {
        background: rgba(255, 255, 255, 0);
    }
}

@media screen and (min-width: 2000px) {
    #page-wrapper {
        width: 70%;
    }
}
