@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin: 0;
	padding: 0
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	font-family: "Gotham Narrow SSm",Arial,sans-serif
}

a {
	text-decoration: none;
	color: #353535
}

a:hover {
	color: #666
}

textarea:focus,input:focus {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-modify: read-write-plaintext-only;
	outline: 0
}
button {
	background: 0
}

fieldset,img {
	border: 0
}

ol,ul {
	list-style: none
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 500
}

h1 {
	font-size: 30px
}

h2 {
	font-size: 26px
}

h3 {
	font-size: 22px
}

h4 {
	font-size: 18px
}

h5 {
	font-size: 14px
}

h6 {
	font-size: 12px
}

.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.clear {
	clear: both;
	zoom: 1;
	font-size: 0;
	height: 0
}

.left {
	float: left
}

.right {
	float: right
}

.ft12 {
	font-size: 12px
}

.ft14 {
	font-size: 14px
}

.ft16 {
	font-size: 16px
}

.ft25 {
	font-size: 25px;
	line-height: 40px
}

.mt10 {
	margin-top: 10px
}

.mb10 {
	margin-bottom: 10px
}

.ml10 {
	margin-left: 10px
}

.mr10 {
	margin-right: 10px
}

.pd20 {
	padding: 20px
}

.fixed {
	position: fixed
}

.pr {
	position: relative
}

.pa {
	position: absolute
}

.btn {
	font-size: 14px;
	line-height: 1.42857143;
	padding: 5px 12px;
	display: inline-block;
	font-weight: 400px;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 2px;
	-webkit-transition:background-color 300ms ease-out,border-color 300ms ease-out;
	transition:background-color 300ms ease-out,border-color 300ms ease-out;
	-webkit-appearance:none;
}

.btn-default {
	background-color: #009a61;
	border-color: #008b57;
	color: #fff
}

.btn-default:hover {
	background-color: #008151;
	border-color: #007147;
	color: #fff;
	text-decoration: none;
	cursor: pointer
}

.green {
	background-color: #43be10
}

.green-light {
	background-color: #46c72a
}

.text-green {
	color: #249b0a
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.mobile-m {
	display: none;
}

.main-outlet {
	margin: auto;
	width: 80%;
}

#container {
	padding-top: 55px;
	width: 100%;
	padding-bottom: 30px
}

.container {
	min-height: 500px;
	background: #fff;
}

.content {
	width: 65%;
	min-height: 438px;
	line-height: 24px;
}
.reply-detail .content {
	width: 100%;
	border: none;
}

.side {
	width: 30%;
	padding-left: 5%
}

.header {
	height: 50px;
	width: 100%;
	background-color: #222E2A;
	z-index: 999
}

.nav-head {
	padding: 10px 0;
	line-height: 22px;
	border-bottom: 1px solid #eee;
	font-size: 18px;
	font-weight: bold;
}

.nav-head a {
	color: #008E59;
	text-decoration: none
}

.logo {
	height: 50px;
	line-height: 50px;
	color: #A4BFB4;
	font-family: "Constantia",Georgia;
	vertical-align: middle;
	float: left
}

.logo:hover {
	text-decoration: none;
	color: #eee;
}

.search-logo {
	color: #A4BFB4;
	background-color: #3F4F49;
	border: 1px solid transparent;
	border-radius: 3px;
	display: inline-block;
	padding: 0 10px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#searchWord {
	width: 120px;
	padding: 1px 5px;
	font-size: 14px;
	color: #FFF;
	background-color: #3F4F49;
	background-image: none;
	border: 1px solid transparent;
}

.nav {
	float: right;
	max-width: 70%;
	margin-top: 6px
}

.nav input {
	border: 1px solid #cecece;
	height: 30px;
	margin-right: 10px
}

.nav a {
	padding: 2px 12px;
	text-decoration: none;
	font-size: 14px;
	color: #A4BFB4;
}

.nav .qq{
	color: #fff
}
.topic-list {
	position: relative;
	border-bottom: 1px solid #ededed;
	font-family: Arial,Helvetica,sans-serif;
	padding: 10px 0;
}

.topic-list .score {
	padding:6px 10px;
	line-height: 20px;
	font-size: 14px;
}

.topic-list .pictureList {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	display: block;
}

.topic-list .pre-picture {
	width: 100px;
	margin-right: 1px;
	display: inline-block;
}

.go-reply {
	margin-right: 6px;
	color: #017e66;
}

.topic {
	padding: 5px 0;
	position: relative;
	color: #38485a;
	line-height: 18px;
	word-break: normal;
	word-wrap: break-word;
	font-size: 9pt;
}

.topic .topic-content {
	font-size: 16px;
	line-height: 26px;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

.topic .topic-content img {
	max-width: 500px
}
.topic .topic-head{
	position: relative;
	padding-left: 30px;
	color: #999;
	font-size: 12px;
	margin-bottom: 5px;
}
.topic .topic-avatar{
	position: absolute;
	left: 0;
	top: -1px;
}
.topic .topic-avatar img{
	width: 20px;
	height: 20px;
	border-radius: 2px;
}
.topic .topic-head .nickname{
	font-weight: bold;
}
.topic .topic-head .time{
	padding-left: 6px;
}
.topic .topic-head .other{
	float: right;
}
.topic .topic-head .other span{
	padding-left: 5px;
}
.topic .topic-info {
	margin-top: 5px;
	color: #888
}

.topic .topic-info a {
	color: #999
}

.view-content p.showTag {
	margin-top: 5px;
}

.topic .topic-info .tag, .view-content .tag {
	font-size: 14px;
	background-color: #E7F2ED;
	color: #017e66;
	padding: 3px 6px;
	text-decoration: none;
}

.topic .topic-info .tag:hover {
	background: #5cb85c;
	color: #fff
}

.hot-tags {
	padding: 10px 0;
	white-space: normal;
	display: inline-block;
}

.hot-tags li {
	list-style: none;
	display: inline;
	float: left;
}

.hot-tags li a {
	color: #017e66;
	display: block;
	font-size: 13px;
	background-color: #E7F2ED;
	margin: 0 8px 8px 0;
	padding: 4px 6px;
	text-decoration: none;
	border-radius: 3px
}

.hot-tags li a:hover {
	background: #5cb85c;
	color: #fff
}

.hot-topics {
	padding: 10px 0;
}
.hot-topics li a {
	color: #017e66;
	display: block;
	font-size: 14px;
	padding: 4px 6px;
	text-decoration: none;
	white-space: nowrap;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}

.hot-topics li a:hover {
	color: #055243
}

.reply-bg {
	background-color: #fff!important
}

#login-tip {
	display: block;
	border-top: 1px dashed #ccc;
	text-align: center;
	line-height: 110px;
	width: 100%;
}

.topic-view {
	position: relative
}

.topic-view .topic-left , .reply-left{
	position: absolute;
	width: 8%;
	left: 0;
	top: 10px;
	bottom: 0;
	background: #fff;
}
.topic-view .topic-left{
	top: 26px;
}
.topic-view .topic-left .avatar {
	width: 100%;
	display: block;
}

.topic-view .topic-left .avatar img {
	width: 100%;
	margin: 0 auto;
	display: block;
	border-radius: 3px
}

.topic-view .topic-body {
	background-color: #fff;
	margin-left: 10%;
	padding: 20px 2%;
}

.topic-view .topic-body .time {
	color: #999;
	margin-left: 10px;
	font-size: 12px
}

.topic-view .topic-body .nickname {
	color: #444;
	font-size: 14px;
	font-weight: bold
}

.topic-view .topic-body .floor {
	float: right;
	color: #999;
	font-size: 14px
}

.topic-view .topic-body .floor a {
	color: #888;
	margin-left: 15px;
	font-style: 14px
}

.topic-view .topic-body .floor a:hover {
	color: #209c06
}

.topic-view .topic-body .view-content {
	min-height: 60px;
	margin-top: 10px;
	line-height: 23px;
	color: #333;
	font-size: 14px;
	margin-bottom: 10px
}

.topic-view .topic-body .view-content img{
	width: 35%;
	margin: 2% 0;
}

.topic-list .pre-picture:hover, .topic-view .topic-body .view-content img:hover{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.atname a, a.url{
	color: #017e66;
	font-weight: bold;
}

.atname a:hover, a.url:hover{
	color: #119B80;
}

.topic-view .topic-body .avatarC,.talk-avatar-tiny {
	width: 23px;
	height: 23px;
	border-radius: 4px;
	vertical-align: middle;
	border: 2px solid #fff;
	margin: auto;
	position: relative
}

.topic-view .reply-t {
	font-size: 14px;
	font-weight: bold;
	padding: 15px 0;
}

#pager {
	margin: 20px 0;
	text-align: center
}

#pager a {
	padding: 3px 12px;
	text-decoration: none;
	font-size: 14px;
	color: #555;
	border: 1px solid #ddd;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	margin-left: -1px
}

#pager a:hover {
	background: #f3f3f3;
	color: #656d78
}

#pager .hover {
	background: #f1f1f1;
	color: #656d78
}

.side .box {
	margin-top: 10px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.side .box:last-child{
	border-bottom: none;
}
.side .box .side-user {
	padding: 20px
}

.side .box .side-user p {
	color: #888;
	line-height: 23px;
	font-size: 12px
}

.side .box .side-user .side-avatar {
	width: 200px;
	height: 50px;
	display: block;
}

.side .box .side-user .side-avatar h4 {
	margin-left: 60px;
	display: block;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px
}

.side .box .side-user .side-avatar .asmall {
	display: block;
	margin-left: 60px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	margin-top: 10px
}

.side .box .side-user .side-avatar .asmall img {
	display: block;
	width: 15px;
	height: 15px;
	margin-left: -20px
}

.side .box .side-user div img {
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 4px;
	vertical-align: middle;
	position: absolute;
	border: 1px solid #ececec
}

.side .box .side-profile {
	padding: 5px 0;
	border-top: 1px solid #eee;
	margin-top: 20px;
	font-size: 12px
}

.side .box .side-profile a.notify-count,a.favorite-count {
	color: #666;
	display: inline-block;
	width: 30%;
	text-decoration: none;
	border-right: 1px solid #e3e3e3;
	padding: 5px;
	text-align: center
}

.side .box .list-title {
	padding: 6px 2px;
	font-size: 14px;
	font-weight: bold;
	color: #444
}
.side .box .list-title i{
	font-size: 16px;
	font-weight: normal;
}
.side .box .list-topic {
	padding: 10px 0
}

.side .box .list-topic li {
	padding: 6px 15px;
	color: #fff
}

.side .box .list-topic li:hover {
	background-color: #e9f6e6
}

.side .box .list-topic li.active {
	background-color: #249b0a;
	color: #fff
}

.side .box .list-topic li a {
	display: block;
	text-decoration: none;
	font-size: 14px
}

.side .box .list-topic li:hover a {
	color: #2fad14
}

.side .box .list-topic li.active a {
	color: #fff;
	font-weight: bold
}

.user-box {
	min-height: 110px;
	display: block;
	background-color: #fff;
	padding: 10px 1%;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

.user-box .m_thumb {
	width: 22%;
	cursor: pointer;
	float: left;
	overflow: hidden;
	margin-top: 10px;
}

.user-box .m_thumb img {
	max-width: 100%;
	border-radius: 5px
}

.user-box .user_info {
	width: 65%;
	float: left
}

.user-box .user_info .name {
	padding: 10px 10%;
	font-size: 14px;
	font-weight: bold;
}

.user-box .user_info .name span {
	margin-top: -5px
}

.user-box .user_info .ver {
	margin-left: 10%;
	font-size: 12px;
	color: #008E59
}

.user-box .user_info .ver .img {
	width: 13px;
	height: 13px;
	padding-left: 10px;
	vertical-align: middle
}

.user-box .user_info .static_num {
	padding: 5px 0 0
}

.user-box .user_info .static_num dl {
	width: 33%;
	height: 40px;
	float: left;
	text-align: center
}

.user-box .user_info .static_num dl dt {
	font-family: "Constantia",Georgia;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

.user-box .user_info .static_num dl dd {
	font-size: 12px;
	color: #888
}

.list-topic {
	list-style: none
}

.list-topic li {
	width: 80%;
	height: 24px;
	margin: 0 auto;
	border-radius: 3px;
	display: block;
	line-height: 24px;
	overflow: hidden
}

.list-topic li a {
	color: #777;
	font-size: 14px
}

.list-topic li a:hover {
	color: #333
}

.add-post {
	padding: 10px 0;
	border-bottom: 1px solid #eee
}

.add-post .select-cate {
	width: 200px;
	height: 30px;
	border: 1px solid #eee;
	display: block
}

.add-post .textarea, .text-title, .text-tag {
	margin-top: 5px;
	padding: 5px;
}

.text-tag {
	font-size: 14px;
	border: 1px solid #8AB3AB;
	border-radius: 3px;
	background-color: #fff;
	padding: 1%;
	width: 98%;
}

.show-tag {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}

.add-post textarea {
	padding: 1%;
	height: 80px;
	width: 98%
}

.form-input {
	line-height: 20px;
	font-size: 14px;
	padding: 1%;
	width: 98%;
}

.form-tag-input {
	line-height: 20px;
	font-size: 14px;
	border-top: 1px dashed #8AB3AB;
	border-right: none;
	border-bottom: none;
	border-left: none;
	background-color: #fff;
	padding: 1% 1% 1% 0;
	width: 98%;
}

#tags {
	overflow-y: auto;
}

#tags span {
	color: #017e66;
	display: inline;
	font-size: 14px;
	background-color: #E7F2ED;
	margin: 0 8px 8px 0;
	padding: 5px 8px;
	text-decoration: none;
	border-radius: 3px;
	cursor: pointer;
}

.uploadResult {
	position: relative;
	height: 88px;
	width: 88px;
	float: left;
	margin: 10px 2px 0 2px;
	border: 1px solid #1ca166;
}

.info {
	display: block;
	line-height: 18px;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	background-color: #1ca166;
	z-index: 13;
	text-align: center;
	filter: alpha(Opacity=80);
	opacity: 0.8;
}
/*.filename{font-weight:bold}*/
.previewImage {
	width: 88px;
	height: 88px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 12;
	display: inline;
}

.delPic {
	position: absolute;
	right: 0;
	top: 2px;
	height: 20px;
	width: 20px;
	z-index: 10;
	font-size: 20px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: none;
	z-index: 12;
}

.delPic:hover {
	color: #1ca166;
}

.footer {
	height: 60px;
	color: #bbb;
	text-align: center;
	padding: 20px 0;
	line-height: 33px;
	font-size: 14px
}

.footer a {
	color: #999
}

.footer .link {
	font-size: 12px
}

.confirmBtn {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	font-size: 12px
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd
}

.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd
}

.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>td {
	border-top: 0
}

.table>tbody+tbody {
	border-top: 2px solid #ddd
}

.table .table {
	background-color: #fff
}

.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #f9f9f9
}

.mask {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: .6;
	filter: alpha(opacity=60);
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	display: none
}

#LoginBox {
	padding: 15px;
	position: absolute;
	background: white;
	width: 40%;
	top: 200px;
	left: 30%;
	height: 280px;
	border-radius: 7px;
	z-index: 10000;
	display: none
}

.headRow {
	background: #f7f7f7;
	padding: 0 20px;
	line-height: 50px;
	height: 50px;
	font-weight: bold;
	color: #666;
	font-size: 20px
}

#totop {
	background: url(up.png) no-repeat;
	position: fixed;
	bottom: 10%;
	right: 10%;
	width: 36px;
	height: 36px;
	display: none;
	_position: absolute
}

#totop:hover {
	background-position: 0 -36px
}

.alert-messages {
	left: 0;
	position: fixed;
	right: 0;
	top: 60px;
	z-index: 7000;
	display: none
}

.alert-messages .message {
	background: none repeat scroll 0 0 rgba(20,20,20,0.9);
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	margin: 0 auto;
	padding: 10px 12px;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	width: 40%
}

.alert-messages .message .message-text {
	color: #ccc;
	display: block;
	font-size: 12px;
	line-height: 16px;
	margin-right: 20px;
	text-align: center
}

.right-admin {
	display: block;
	width: 100%;
	text-align: right;
	padding: 10px 0
}

.right-admin a {
	cursor: pointer;
	margin-left: 10px;
}

.set-form {
	padding: 10px 5%;
	width: 90%;
}

.set-form .input-group {
	padding: 20px 0;
	display: block
}

.set-form .input {
	border: 1px solid #eee;
	height: 35px;
	line-height: 35px;
	padding: 0 5px;
	color: #999;
	margin-top: 10px;
	position: relative;
	border-radius: 5px
}

.set-form .input input {
	padding: 5px 10px;
	border: 0;
	border-left: 1px solid #eee;
	margin-left: 10px;
}

.set-form .rel {
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	padding: 10px 2px;
	color: #333
}

.set-form .form-control {
	/*border: 1px solid #eee*/
}

.set-form .input-box {
	border: 0;
	padding-left: 10px;
	background: 0
}

.set-form .upload-img {
	width: 25px;
	margin-top: 20px;
	margin-left: 8px
}

.set-form .form-control textarea {
	line-height: 20px;
	font-size: 14px;
	border: 1px solid #8AB3AB;
	border-radius: 3px;
	min-height: 120px;
	background-color: #fff;
	padding: 1%;
	width: 98%;
}

.set-tip {
	height: 35px;
	line-height: 35px;
	background-color: #f1f9f7;
	font-size: 12px;
	color: #1d9d74;
	border: 1px solid #e0f1e9;
	padding-left: 10px
}

.set-tip a {
	color: #1d9d74;
	font-weight: bold
}

.user-ava {
	height: 30px;
	width: 30px;
	margin: 2px;
	float: left;
	display: block
}

.user-ava img {
	width: 30px;
	height: 30px;
	border-radius: 2px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.member-bg{
	background-color: #f3f3f3;
}

.mem {
	width: 600px;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 100px;
	background-color: #f8f8f8;
	border: 1px solid #ededed;
}

.mem .mem-put {
	width: 329px;
	float: left;
	border-right: 1px solid #efefef;
	background-color: #fff;
}

.mem .mem-put .mem-t {
	padding: 20px
}

.mem .mem-put .mem-t-head {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px
}

.mem .mem-put label {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	color: #666
}

.mem .mem-put .input {
	border: 1px solid #ddd;
	padding: 9px 5px;
	display: block;
	width: 277px
}

.mem .mem-put .mem-put-bottom {
	margin-top: 20px;
	font-size: 12px
}

.mem .mem-tab {
	width: 268px;
	float: left;
}

.mem .mem-tab .mem-t {
	padding: 50px 20px;
	font-size: 14px
}

.mem .mem-tab .mem-t p {
	color: #888
}

.avatar-layout {
	margin-bottom: 20px
}

.avatar-layout img {
	width: 60px;
	height: 60px;
	border-radius: 30px
}


.reply-list {
	padding: 2%;
	position: relative;
	word-wrap: break-word;
	word-break: break-all;
	border-top: 1px solid #ededed
}

.reply-list .reply-bottom {
	position: relative;
	font-size: 12px;
	margin-top: 5px;
	color: #999
}

.reply-list a.uid img {
	width: 90%;
	min-width: 30px;
	margin:5px auto;
	display: block;
	border-radius: 3px;
}

.reply-list .reply-content {
	display: inline-block;
	margin-left: 12%;
	width: 88%;
	font-size: 14px;
	color: #666
}

.reply-list .reply-detail {
	word-wrap: break-word;
}

.reply-list .reply-detail .content img{
	max-width: 35%;
	display: block;
	border-radius: 3px;
	margin: 2% 0;
}

.reply-list .reply-detail .content img:hover{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.reply-list .reply-bottom span {
	font-size: 12px;
}

.reply-list .reply-bottom .reply-bottom-span {
	margin-right: 5px;
}

.reply-list .reply-bottom a.showFloorReply,.deleteReply {
	margin-left: 10px;
	cursor: pointer;
	color: #999;
}

.reply-list .reply-bottom a.showFloorReply:hover,.deleteReply:hover{
	color: #353535;
}

.reply-list .reply-bottom .floor-reply, .whisper-reply{
	border: 1px solid #ccc;
	position: relative;
	height: 28px;
	margin-top: 10px;
}

.reply-list .reply-bottom .floor-reply .reply-text, .whisper-reply .reply-text{
	height: 22px;
	width: 88%;
	padding: 3px 5px;
	display: inline-block;
	border: none;
}

a.reply-submit{
	background-color: #249b0a;
	border-color: #249b0a;
	color: #fff;
	font-size: 14px;
	line-height: 1.42857143;
	padding: 3px 8px;
	vertical-align: middle;
	border: 1px solid transparent;
	display: inline-block;
}

a.reply-submit:hover{
	background-color: #43be10;
	border-color: #43be10;
}

.reply-list .floor {
	width: 100%;
	display: block;
	margin-top: 10px;
	border-radius: 3px;
	background: #FCFCFC;
}

.reply-list .floor .floor-list {
	margin:0 auto;
	padding: 10px 0 5px 0;
	width: 96%;
	min-height: 40px;
	border-bottom: 1px dashed #E0E0E0;
	display: block;
}

.reply-list .floor .floor-list .floor-content{
	margin-left: 40px;
	font-size: 14px;
	color: #666;
	line-height: 20px;
	display: block;
}

.reply-list .floor .floor-list .floor-admin {
	margin-left: 5px;
}

.reply-list .floor .floor-list .floor-admin a{
	margin-left: 5px;
	cursor: pointer;
	color: #999;
}

.reply-list .floor .floor-list .floor-admin a:hover{
	color: #333;
}

.reply-list .floor .floor-list .floor-username{
	width: 60px;
	margin-left: 40px;
	float: left;
	display: block;
}

.reply-list .floor .floor-list .floor-avatar{
	width: 40px;
	margin-top: 8px;
	display: block;
	position: absolute;
}

.reply-list .floor .floor-list .floor-avatar img{
	width: 30px;
	height: 30px;
	border-radius: 3px;
	vertical-align: top;
}

.reply-list .floor .floor-more {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.reply-list .floor .floor-more a {
	color: #999;
}

.reply-list .floor .floor-more a:hover {
	color: #353535;
}

.more_loader_spinner {
	width: 20px;
	height: 20px;
	margin: 10px auto;
	background: url(loading.gif) no-repeat;
}

.get_more {
	width: 90%;
	display: block;
	margin: 0 auto;
	border-top: 3px solid #fff;
	color: #999;
	font-size: 14px;
	text-align: center;
	background-color: #f4f4f4;
	padding: 10px;
}

.topic-praise {
	background-color: #f4f4f4;
	padding: 10px;
}
.xs-show{display: none;}
.upload-image{position: relative;cursor: pointer; overflow: hidden; width: 35px;color: #888;cursor: pointer;}
.upload-image:hover{color: #009a61}

@media screen and (max-width: 640px) {
	.side {
		padding-left: 0!important;
		width: 100% !important;
	}
	.content {
		width: 100% !important;
	}
	.main-outlet {
		width: 95% !important;
	}
	.mobile-m {
		display: block !important;
		color: #A4BFB4;
		height: 50px;
		line-height: 50px;
		margin-right: 20px;
		right: 0;
		position: absolute;
	}
	.xs-show{
		display: inline;
	}
	.nav {
		display: none;
		width: 40%;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
		box-shadow: 0 6px 12px rgba(0,0,0,0.175);
		position: absolute;
		right: 0;
		top: 50px;
	}
	/*.xs-hid 代表手机下隐藏 */
	.search-logo,.footer,.xs-hid{
		display: none !important;
	}
	.nav a{
		width: 100%;
		display: block;
		padding: 10px;
		font-size: 16px !important;
		color: #000 !important;
	}
	.topic-list .pre-picture {
		width: 30% !important;
	}
	#LoginBox {
		width:90% !important;
		left: 0 !important;
	}
	.nav a{
		padding:8px 13px;
	}
	.mem{
		margin-bottom: 0;margin-top: 0;
	}
	.mem,.mem .mem-put,.mem .mem-tab{
		width: 100%
	}
}

/* mobie style end*/