@charset "utf-8";*,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
html{font-size:14px;font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
section{min-height:560px;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
h1{margin:.67em 0;font-size:2em;}
footer{margin-top:10px;padding:20px 0;border-top:1px solid #eee;text-align:center;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp,dl,.bz-pagination{font-family:Menlo,Monaco,Consolas,"Courier New",courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
fieldset,img,iframe{border:0;}
audio:not([controls]){display:none;height:0;}
button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit;}
button{overflow:visible;}
button,input{line-height:normal;}
button,select{text-transform:none;}
input[type="radio"],input[type="checkbox"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body,input,textarea,select,button{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:"liga","kern";}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
button,input:not([type="radio"]):not([type="checkbox"]),select{vertical-align:middle;}
select optgroup{font-style:inherit;font-size:inherit;font-family:inherit;}
mark{background-color:rgba(255,255,140,0.5);color:#000;}
code{padding:2px 4px;border-radius:3px;background-color:rgba(0,0,0,0.04);font-size:90%;}
em{color:#666;font-size:12px;}
hr{display:block;-webkit-box-sizing:content-box;box-sizing:content-box;padding:0;height:0;border:0;border-top:1px solid #eee;}
a{background-color:transparent;color:#029b02;text-decoration:none;}
a:hover{color:#009a61;text-decoration:none;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{-webkit-box-sizing:border-box;box-sizing:border-box;height:auto;max-width:100%;border:0;vertical-align:middle;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
dl{margin-top:0;margin-bottom:20px;}
dt,dd{line-height:1.42857143;}
dt{font-weight:bold;}
dd{margin-left:0;}
.clear:after{clear:both;display:block;visibility:hidden;height:0;content:" ";font-size:0;}
.clear{clear:both;height:0;font-size:0;zoom:1;}
.container{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-right:auto;margin-left:auto;max-width:1080px;}
.row{padding:.6rem 0;}
.left{float:left;}
.right{float:right;}
.bz-dl-horizontal dd:before,.bz-dl-horizontal dd:after,.container:before,.container:after{display:table;content:" ";}
.bz-nav{margin-bottom:0;padding:0;list-style:none;}
.bz-nav:before,.bz-nav:after{display:table;content:" ";}
.bz-nav:after{clear:both;}
.bz-nav>li{position:relative;display:block;}
.bz-nav>li>a{position:relative;display:block;padding:.6em .8em;border-radius:0;}
.bz-nav>li>a:hover,.bz-nav>li>a:focus{background-color:#eee;text-decoration:none;}
.bz-nav>li.bz-nav-active>a,.bz-nav>li.bz-nav-active>a:hover,.bz-nav>li.bz-nav-active>a:focus{background-color:#07bf07;color:#fff !important;cursor:default;transition:all 200ms linear;}
.bz-nav>li.bz-disabled>a{color:#999;}
.bz-nav>li.bz-disabled>a:hover,.bz-nav>li.bz-disabled>a:focus{background-color:transparent;color:#999;text-decoration:none;cursor:not-allowed;}
.bz-nav-pills>li{float:left;}
.bz-nav-pills>li+li{margin-top:0;margin-left:5px;}
.bz-nav-children{position:absolute;top:auto;right:0;left:0;z-index:3;display:none;border:1px solid #eee;background-color:#fff;}
.bz-nav-allow-hover:hover>.bz-nav-children,.bz-nav-active>.bz-nav-children{position:absolute;display:block;}
.bz-nav-has-children>.bz-nav-link:after{padding-left:.5em;content:"\25BE";font-size:small;}
.bz-breadcrumb{margin-bottom:1rem;padding:.7em 0;border-radius:0;background-color:transparent;list-style:none;}
.bz-breadcrumb>li{display:inline-block;}
.bz-breadcrumb>li+li:before{padding:0 8px;color:#ccc;content:"/\00a0";}
.bz-breadcrumb>.bz-active{color:#999;}
.bz-panel{margin-bottom:20px;border:1px solid transparent;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05);}
.bz-panel-hd{padding:.6rem 1.25rem;border-bottom:1px solid transparent;border-top-right-radius:0;border-top-left-radius:0;}
.bz-panel-bd{padding:1.25rem;line-height:1.777777;}
.bz-panel-title{margin:0;color:inherit;font-size:100%;}
.bz-panel-title>a{color:inherit;}
.bz-panel-default{border-color:#ddd;}
.bz-panel-default>.bz-panel-hd{border-color:#ddd;background-color:#f5f5f5;color:#444;}
.bz-panel li{border-top:0;}
.bz-listUI{padding-left:0;}
.bz-listUI>li{position:relative;display:block;margin-bottom:-1px;border:1px solid #ededed;border-width:1px 0;background-color:#fff;}
.bz-listUI>li{padding:.6rem 1rem;}
.bz-listUI>li>a{display:block;}
.bz-listUI>li>a:hover,.bz-listUI>li>a:focus{background-color:#f5f5f5;}
.pagination{margin:20px 0;text-align:center;}
.pagination a{display:inline-block;margin-left:-1px;padding:6px 12px;border:1px solid #ddd;color:#555;text-decoration:none;font-size:14px;cursor:pointer;zoom:1;}
.pagination a:hover{background:#f3f3f3;color:#656d78;}
.pagination .now_page{background:#f1f1f1;color:#656d78;}
.bz-pagination{margin:1.5rem 0;padding-left:0;color:#999;list-style:none;text-align:left;}
.bz-pagination:before,.bz-pagination:after{display:table;content:" ";}
.bz-pagination:after{clear:both;}
.bz-pagination>li{display:inline-block;}
.bz-pagination>li>a,.bz-pagination>li>span{position:relative;display:block;margin-right:3px;margin-bottom:5px;padding:.3em .7em;border:1px solid #ddd;border-radius:0;background-color:#fff;color:#444;text-decoration:none;line-height:1.2;}
.bz-pagination>li:last-child>a,.bz-pagination>li:last-child>span{margin-right:0;}
.bz-pagination>li>a:hover,.bz-pagination>li>span:hover,.bz-pagination>li>a:focus,.bz-pagination>li>span:focus{background-color:#eee;}
.bz-pagination>.bz-active>a,.bz-pagination>.bz-active>span,.bz-pagination>.bz-active>a:hover,.bz-pagination>.bz-active>span:hover,.bz-pagination>.bz-active>a:focus,.bz-pagination>.bz-active>span:focus{z-index:2;border-color:#04d104;background-color:#3de73d;color:#fff;cursor:default;}
.bz-pagination>.bz-disabled>span,.bz-pagination>.bz-disabled>span:hover,.bz-pagination>.bz-disabled>span:focus,.bz-pagination>.bz-disabled>a,.bz-pagination>.bz-disabled>a:hover,.bz-pagination>.bz-disabled>a:focus{border-color:#ddd;background-color:#fff;color:#999;cursor:not-allowed;pointer-events:none;}
.bz-pagination .bz-pagination-prev{float:left;}
.bz-pagination .bz-pagination-prev a{border-radius:0;}
.bz-pagination .bz-pagination-next{float:right;}
.bz-pagination .bz-pagination-next a{border-radius:0;}
.bz-pagination-centered{text-align:center;}
.bz-pagination-right{text-align:right;}
.bz-form input[type="text"],.bz-form input[type="password"],.bz-form input[type="email"],.bz-form input[type="url"],.bz-form input[type="date"],.bz-form input[type="month"],.bz-form input[type="time"],.bz-form input[type="datetime"],.bz-form input[type="datetime-local"],.bz-form input[type="week"],.bz-form input[type="number"],.bz-form input[type="search"],.bz-form input[type="tel"],.bz-form input[type="color"],.bz-form select,.bz-form textarea{display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:.5em .6em;border:1px solid #ccc;vertical-align:middle;}
.bz-form input:not([type]){display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:.5em .6em;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 3px #ddd;}
.bz-form input[type="color"]{padding:.2em .5em;}
.bz-form input[type="text"]:focus,.bz-form input[type="password"]:focus,.bz-form input[type="email"]:focus,.bz-form input[type="url"]:focus,.bz-form input[type="date"]:focus,.bz-form input[type="month"]:focus,.bz-form input[type="time"]:focus,.bz-form input[type="datetime"]:focus,.bz-form input[type="datetime-local"]:focus,.bz-form input[type="week"]:focus,.bz-form input[type="number"]:focus,.bz-form input[type="search"]:focus,.bz-form input[type="tel"]:focus,.bz-form input[type="color"]:focus,.bz-form select:focus,.bz-form textarea:focus{outline:0;border-color:#01d701;}
.bz-form input:not([type]):focus{outline:0;border-color:#01d701;}
.bz-form input[type="file"]:focus,.bz-form input[type="radio"]:focus,.bz-form input[type="checkbox"]:focus{outline:thin solid #01d701;outline:1px auto #01d701;}
.bz-form .bz-checkbox,.bz-form .bz-radio{display:block;margin:.5em 0;}
.bz-form input[type="text"][disabled],.bz-form input[type="password"][disabled],.bz-form input[type="email"][disabled],.bz-form input[type="url"][disabled],.bz-form input[type="date"][disabled],.bz-form input[type="month"][disabled],.bz-form input[type="time"][disabled],.bz-form input[type="datetime"][disabled],.bz-form input[type="datetime-local"][disabled],.bz-form input[type="week"][disabled],.bz-form input[type="number"][disabled],.bz-form input[type="search"][disabled],.bz-form input[type="tel"][disabled],.bz-form input[type="color"][disabled],.bz-form select[disabled],.bz-form textarea[disabled]{background-color:#eaeded;color:#cad2d3;cursor:not-allowed;}
.bz-form input:not([type])[disabled]{background-color:#eaeded;color:#cad2d3;cursor:not-allowed;}
.bz-form input[readonly],.bz-form select[readonly],.bz-form textarea[readonly]{border-color:#ccc;background-color:#eee;color:#777;}
.bz-form input:focus:invalid,.bz-form textarea:focus:invalid,.bz-form select:focus:invalid{border-color:#e9322d;color:#b94a48;}
.bz-form input[type="file"]:focus:invalid:focus,.bz-form input[type="radio"]:focus:invalid:focus,.bz-form input[type="checkbox"]:focus:invalid:focus{outline-color:#e9322d;}
.bz-form select{height:2.26em;border:1px solid #ccc;background-color:white;}
.bz-form select[multiple]{height:auto;}
.bz-form label{margin:.5em 0 .2em;}
.bz-form fieldset{margin:0;padding:.35em 0 .75em;border:0;}
.bz-form legend{display:block;margin-bottom:.3em;padding:0 0 1em 0;width:100%;border-bottom:1px solid #e5e5e5;color:#333;}
.bz-form-stacked input[type="text"],.bz-form-stacked input[type="password"],.bz-form-stacked input[type="email"],.bz-form-stacked input[type="url"],.bz-form-stacked input[type="date"],.bz-form-stacked input[type="month"],.bz-form-stacked input[type="time"],.bz-form-stacked input[type="datetime"],.bz-form-stacked input[type="datetime-local"],.bz-form-stacked input[type="week"],.bz-form-stacked input[type="number"],.bz-form-stacked input[type="search"],.bz-form-stacked input[type="tel"],.bz-form-stacked input[type="color"],.bz-form-stacked input[type="file"],.bz-form-stacked select,.bz-form-stacked label,.bz-form-stacked textarea{display:block;margin:.5em 0;}
.bz-form-stacked textarea{height:100px;}
.bz-form-stacked input:not([type]){display:block;margin:.25em 0;}
.bz-form-aligned input,.bz-form-aligned textarea,.bz-form-aligned select,.bz-form-aligned .bz-help-inline,.bz-form-message-inline{display:inline-block;vertical-align:middle;*display:inline;*zoom:1;}
.bz-form-aligned textarea{vertical-align:top;}
.bz-form-aligned .bz-control-group{margin-bottom:.5em;}
.bz-form-aligned .bz-control-group label{display:inline-block;margin:0 1em 0 0;width:10em;vertical-align:middle;text-align:right;}
.bz-form-aligned .bz-controls{margin:1.5em 0 0 11em;}
.bz-form input.bz-input-rounded,.bz-form .bz-input-rounded{padding:.5em 1em;border-radius:2em;}
.bz-form .bz-group fieldset{margin-bottom:10px;}
.bz-form .bz-group input,.bz-form .bz-group textarea{position:relative;top:-1px;display:block;margin:0 0 -1px;padding:10px;border-radius:0;}
.bz-form .bz-group input:focus,.bz-form .bz-group textarea:focus{z-index:3;}
.bz-form .bz-group input:first-child,.bz-form .bz-group textarea:first-child{top:1px;margin:0;border-radius:4px 4px 0 0;}
.bz-form .bz-group input:first-child:last-child,.bz-form .bz-group textarea:first-child:last-child{top:1px;margin:0;border-radius:4px;}
.bz-form .bz-group input:last-child,.bz-form .bz-group textarea:last-child{top:-2px;margin:0;border-radius:0 0 4px 4px;}
.bz-form .bz-group button{margin:.35em 0;}
.bz-form .bz-input-1{width:100%;}
.bz-form .bz-input-2-3{width:66%;}
.bz-form .bz-input-1-2{width:50%;}
.bz-form .bz-input-1-3{width:33%;}
.bz-form .bz-input-1-4{width:25%;}
.bz-button{display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;text-align:center;white-space:nowrap;line-height:normal;cursor:pointer;zoom:1;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.bz-button::-moz-focus-inner{padding:0;border:0;}
.bz-button{padding:.5em 1em;border:1px solid #999;border:none rgba(0,0,0,0);border-radius:2px;background-color:#e6e6e6;color:#444;color:rgba(0,0,0,0.80);text-decoration:none;font-size:100%;font-family:inherit;}
.bz-button-hover,.bz-button:hover,.bz-button:focus{background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,0.05)),to(rgba(0,0,0,0.10)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,0.05) 40%,rgba(0,0,0,0.10));background-image:-moz-linear-gradient(top,rgba(0,0,0,0.05) 0,rgba(0,0,0,0.10));background-image:-o-linear-gradient(transparent,rgba(0,0,0,0.05) 40%,rgba(0,0,0,0.10));background-image:linear-gradient(transparent,rgba(0,0,0,0.05) 40%,rgba(0,0,0,0.10));text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#1a000000',GradientType=0);}
.bz-button:focus{outline:0;}
.bz-button-active,.bz-button:active{border-color:#000\9;box-shadow:0 0 0 1px rgba(0,0,0,0.15) inset,0 0 6px rgba(0,0,0,0.20) inset;}
.bz-button[disabled],.bz-button-disabled,.bz-button-disabled:hover,.bz-button-disabled:focus,.bz-button-disabled:active{border:0;background-image:none;box-shadow:none;opacity:.40;cursor:not-allowed;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:alpha(opacity=40);-khtml-opacity:.40;-moz-opacity:.40;}
.bz-button-hidden{display:none;}
.bz-button::-moz-focus-inner{padding:0;border:0;}
.bz-button-primary,.bz-button-selected,a.bz-button-primary,a.bz-button-selected{background-color:#02cf21;color:#fff;}
.danger{background-color:#e4521d;color:#fff;}
.bz-table{width:100%;border:1px solid #eee;border-collapse:collapse;empty-cells:show;text-align:center;font-size:14px;border-spacing:0;}
.bz-table caption{padding:1em 0;color:#000;text-align:center;font:italic 85%/1 arial,sans-serif;}
.bz-table td,.bz-table th{overflow:visible;margin:0;padding:.5em 1em;border-width:0 0 0 1px;border-left:1px solid #eee;font-size:inherit;}
.bz-table td:first-child,.bz-table th:first-child{border-left-width:0;}
.bz-table thead{background-color:#f7f7f7;vertical-align:bottom;}
.bz-table tbody>tr>td{color:#444;}
.bz-table td{background-color:transparent;}
.bz-table tbody>tr:nth-child(even){background:#f7f7f7;}
.top-head{padding:5px 0;border-top:3px solid #01d701;border-bottom:1px solid #eee;background-color:#fff;}
.top-head .bz-nav>li>a{border-radius:4px;color:#555;font-size:14px;}
.top-head .bz-logo{float:left;margin-right:30px;width:200px;height:30px;color:#999;text-shadow:1px 0 1px #ccc;font-size:18px;}
.top-head .bz-logo a{display:inline-block;width:35px;height:30px;}
.search-form{float:right;margin-top:3px;padding:0 10px;width:150px;height:30px;border:1px solid #ededed;border-radius:10px;color:#888;line-height:30px;}
.intro{width:100%;height:300px;background-color:#f8f8f8;}
#post-edittopic{margin:0 auto;width:90%;}
@media print{*{background:transparent !important;-webkit-box-shadow:none !important;box-shadow:none !important;text-shadow:none !important;}
}
@media(max-width:1199px){.row{padding:.7rem .5rem;}
}
@media(min-width:768px){.bz-dl-horizontal dt{float:left;clear:left;overflow:hidden;width:160px;text-align:right;text-overflow:ellipsis;white-space:nowrap;}
.bz-dl-horizontal dd{margin-left:180px;}
}
@media only screen and (max-width:640px){body{word-wrap:break-word;-webkit-hyphens:auto;-ms-hyphens:auto;-moz-hyphens:auto;hyphens:auto;}
.container{width:1080px;}
}
